{{!-- ARTICLE SECTION HERE --}}
<br> 
<div id="article">
    <article class="container">
        <input id="play" type='button' value='🔊 Play' />
        <h2 id="article-title">{{this.title}}</h2>
        <p id="article-content">{{this.article}}</p>
    </article>
</div>


 {{!-- END OF ARTICLE SECTION --}}