 {{#if this.user_email}}
<div class="jumbotron">
    <h1 class="display-4">Welcome back, {{this.user_email}}!</h1>
    <p class="lead">Focus on the journey while you learn on the go.</p>
    <hr class="my-4">
    <p>Just paste your url in the space below and be free from distraction.</p>
    <div class="lead">
        <button class="btn btn-primary btn-sm" id="logout-btn" role="button">Log Out</button>
    </div>
</div>
{{else}}
<div class="jumbotron">
    <h1 class="display-4">HarkUp - Handlebars template</h1>
    <p class="lead">Focus on the journey while you learn on the go.</p>
    <hr class="my-4">
    <p>Just paste your url in the space below and be free from distraction.</p>
    <div class="lead">
        <button class="btn btn-primary btn-sm" id="login-btn" role="button">Log In</button>
        <a href="/signup">
            <button class="btn btn-primary btn-sm" id="signup" role="button">Sign Up</button>
        </a>
    </div>
</div>
{{/if}}