<div class="jumbotron">
    <h1 class="display-4">HarkUp - Handlebars template</h1>
    <p class="lead">Focus on the journey while you learn on the go.</p>
    <hr class="my-4">
    <p>Just paste your url in the space below and be free from distraction.</p>
    <div class="lead">
        <button class="btn btn-primary btn-sm" id="login-btn" role="button">Log In</button>

        <button class="btn btn-primary btn-sm" id="logout-btn" role="button">Log Out</button>
    </div>
    <p class="lead">

        <form>
            <label for="firstName">First Name</label>
            <input type="text" name="firstName" id="firstName">
            <br>
            <label for="lastName">Last name</label>
            <input type="text" name="lastName" id="lastName">
            <br>
            <label for="userEmail" aria-placeholder="Enter your email">Email</label>
            <input type="email" name="userEmail" id="email">
            <br>
            <label for="userPassword">Password</label>
            <input type="password" name="userPassword" id="password">
            <br>
            <button class="btn btn-success btn-sm" id="signup-btn" role="button">Sign Up</button>
            <br>
        </form>
    </p>
</div>

<div class="container">

    <form method="POST" action="/article">
        <div class="input-group input-group-lg">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-lg">URL here:</span>
            </div>
            <input id="url" name="url" type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
            <input class="btn btn-primary" type="submit" id="submit" value="Submit">
        </div>
    </form>
</div>
<br>
<div id="article">
    <article class="container">
        <input id="play" type='button' value='🔊 Play' />
        <h2 id="article-title">{{this.title}}</h2>
        <p id="article-content">{{this.article}}</p>
    </article>
</div>