{{!--
<div class="jumbotron">
    <h1 class="display-4">HarkUp - Handlebars template</h1>
    <p class="lead">Focus on the journey while you learn on the go.</p>
    <hr class="my-4">
    <p>Just paste your url in the space below and be free from distraction.</p>
    <div class="lead">
        <button class="btn btn-primary btn-sm" id="login-btn" role="button">Log In</button>
        <button class="btn btn-primary btn-sm" id="logout-btn" role="button">Log Out</button>
        <a href="/signup">
            <button class="btn btn-primary btn-sm" id="signup" role="button">Sign Up</button>
        </a>
    </div>
</div> --}} {{>users}}
<div class="container">


        <!--NAVBAR-->
        <nav class="navbar navbar-expand-lg navbar-dark   fixed-top bg-dark">
            <div class="container">
                <img src="public/assets/images/harkup3.png" alt="HarkUp">
                <a href="#" class="btn btn-success" id="menu-toggle">Toggle Menu</a>
                <!--TOGGLE BUTTON FUNCTION-->

                <div id="user_div" class="nav-item"></div>
                <div id="login_div" class="nav-item">
                    <form class="form-inline">
                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#register">Log In</button>
                        <p class="or">-</p>
                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#signup">Sign Up</button>
                    </form>
                </div>
            </div>
        </nav>
        <!--END NAVBAR-->

        <!-- SIDEBAR -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Start Bootstrap
                    </a>
                </li>
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li>
                    <a href="#">Shortcuts</a>
                </li>
                <li>
                    <a href="#">Overview</a>
                </li>
                <li>
                    <a href="#">Events</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
                <li>
                    <a href="#" class="btn btn-success " id="SignOut"> SIGN OUT </a>
                </li>
            </ul>

        </div>
    </form>
</div>
<!-- Include Articles partial-->
{{!-- Create a Handlebars if statement to check the value of the user's email. --}} {{!-- If guest, don't display logout
button. --}} {{!-- if logged in, don't display login button or sign up button --}}
