{{!--
<div class="jumbotron">
    <h1 class="display-4">HarkUp - Handlebars template</h1>
    <p class="lead">Focus on the journey while you learn on the go.</p>
    <hr class="my-4">
    <p>Just paste your url in the space below and be free from distraction.</p>
    <div class="lead">
        <button class="btn btn-primary btn-sm" id="login-btn" role="button">Log In</button>
        <button class="btn btn-primary btn-sm" id="logout-btn" role="button">Log Out</button>
        <a href="/signup">
            <button class="btn btn-primary btn-sm" id="signup" role="button">Sign Up</button>
        </a>
    </div>
</div> --}} {{>users}}
<div class="container">

    <form method="POST" action="/article">
        <div class="input-group input-group-lg">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-lg">URL here:</span>
            </div>
            <input id="url" name="url" type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
            <input class="btn btn-primary" type="submit" id="submit" value="Submit">
        </div>
    </form>
</div>
<!-- Include Articles partial-->
{{!-- Create a Handlebars if statement to check the value of the user's email. --}} {{!-- If guest, don't display logout
button. --}} {{!-- if logged in, don't display login button or sign up button --}}