<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>HarkUp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="../public/assets/css/style.css" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="https://www.gstatic.com/firebasejs/4.11.0/firebase.js"></script>
    <script src="http://code.responsivevoice.org/responsivevoice.js"></script>

    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>


</head>

<body class="mb-2 text-white bg-dark">

    <div id="wrapper" class>

        <!-- SIDEBAR -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Start Bootstrap
                    </a>
                </li>
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li>
                    <a href="#">Shortcuts</a>
                </li>
                <li>
                    <a href="#">Overview</a>
                </li>
                <li>
                    <a href="#">Events</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
                <li>
                    <a href="#" class="btn btn-success " id="SignOut"> SIGN OUT </a>
                </li>
            </ul>

        </div>
        <!-- /#sidebar-wrapper -->

        <a href="#" class="btn btn-success" id="menu-toggle">Toggle Menu</a>




        <!--JUMBOTRON-->
        <div class="jumbotron mt-4 bg-secondary text-center text-dark ">
            <h1 class="display-4">HarkUp</h1>
            <hr class="my-4">
            <p>Just paste your url in the space below and be free from distraction.</p>

            <!--URL BAR HERE-->
            <div class="container">
                <div class="input-group input-group-lg">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-lg">URL here:</span>
                    </div>
                    <input type="text" class="form-control" `aria-label="Large" aria-describedby="inputGroup-sizing-sm" id="url-input">
                    <input class="btn btn-primary" type="submit" value="Submit" id="submit-doc">
                </div>
            </div>
            <!--END URL BAR HERE-->


            <div id="accordion">
                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">

                      </button>
                    </h5>
                  </div>

                  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
     
                    </div>
                  </div>
                </div>
            </div>

        </div>
        <!--END - JUMBOTRON-->

        <!-- MODAL - SIGN INNNNN - this goes inside the SIGN UP BTN -->
        <div class="modal fade text-dark" id="register" tabindex="-1" role="dialog" aria-labelledby="register form" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Log In</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">


                        <!-- inputting form-->
                        <div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" class="form-control" id="email_field" aria-describedby="emailHelp" placeholder="Enter email">
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" class="form-control" id="password_field" placeholder="Password">
                            </div>
                            <!-- <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Check me out</label>
                            </div> -->
                            <button onclick="login()" type="submit" class="btn btn-primary">Log In</button>


                            <!--Google 
                            <button type="button" class="btn btn-gplus">
                                <i class="fa fa-google-plus pr-1"></i> Google +</button>+-->

                        </div>

                    </div>

                </div>
            </div>
        </div>
        <!-- END MODAL - SIGN INNNNN - this goes inside the SIGN INNN  -->




        <!--MODAL - SIGN UP-->

        <div class="modal fade text-dark" id="signup" tabindex="-1" role="dialog" aria-labelledby="signup form" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Sign Up</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- inputting form-->
                        <div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">First Name</label>
                                <input type="email" class="form-control" id="email_sign" aria-describedby="emailHelp" placeholder="Enter First Name">
                                <label for="exampleInputEmail1">Last Name </label>
                                <input type="email" class="form-control" id="email_sign" aria-describedby="emailHelp" placeholder="Enter Last Name">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" class="form-control" id="email_sign" aria-describedby="emailHelp" placeholder="Enter email">
                                <small id="emailSignHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                            </div>

                            <div class="form-group">
                                <label for="exampleInputEmail1">Choose Username</label>
                                <input type="email" class="form-control" id="email_sign" aria-describedby="emailHelp" placeholder="Enter User Name">

                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" class="form-control" id="password_sign" placeholder="Password">
                            </div>

                            <button onclick="signUp()" type="submit" class="btn btn-primary">Sign Up</button>
                        </div>
                        <!-- inputting form /////GOOGLE BTN 
                        <form>
                            <button class="btn btn-block btn-social btn-lg btn-google">
                                <span class="fa fa-google"></span> Sign Up with Google
                            </button>
                        </form>-->
                    </div>

                </div>
            </div>
            
        </div>
                <!--FONTAWESOME ICONS -->
                <!-- <div class="container fa-5x text-center">
                    <div class="row ">
                        <div class="col-lg my-auto">
                            <div class=" mx-auto">
                                <h1 class="mb-5 mt-5">Hello world.</h1>
                                <i class="fab fa-twitter "></i>
                                <i class="fab fa-github"></i>
                                <i class="fab fa-facebook-square"></i>
                            </div>
                        </div>
                    </div>
                </div> -->
                <!--END FONTAWESOME ICONS -->
        
        
        
        
                <!-- FOOTER -->
<nav class="fixed-bottom navbar-expand-lg center-block">
           <div class="container text-center">
               <div class="player text-center">

                   <button type="button" id="button_play" class="btn
                             btn-success btn-lg" onclick='buttonPlayPress()'>
                       <i class="fa fa-play"></i>
                   </button>

                   <button type="button" id="button_pause" class="btn btn-danger btn-lg" onclick='buttonStopPress()'>
                       <i class="fa fa-pause"></i>
                   </button>
               </div>
           </div>
       </nav>
                <!-- END FOOTER -->
        <!-- END MODAL - SIGN INNNNN - this goes inside the SIGN UPPP  -->


        <!-- TOGGLE SIDE FUNCTION -->
        <script>
            $("#menu-toggle").click(function (e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
            });
        </script>
        <!-- END TOGGLE SIDE FUNCTION -->



        </section>

        <script type="text/javascript">
            console.log("Reading script..");
            $("#submit-doc").click(runDoc);
            // var your_url = $("#url-input").val();

            function runDoc() {
                console.log("Running..");
                var input = $("#url-input").val();
                $('#submit').click(function () {
                    console.log("Click works");
                    $.ajax({
                        url: input,
                        success: function (data) {
                            alert(data);
                            console.log(data);
                        }
                    });
                });
            };
            //     jQuery.ajax = (function (_ajax) {
            //         var protocol = location.protocol,
            //             hostname = location.hostname,
            //             exRegex = RegExp(protocol + '//' + hostname),
            //             YQL = 'http' + (/^https/.test(protocol) ? 's' : '') + '://query.yahooapis.com/v1/public/yql?callback=?',
            //             query = 'select * from html where url="{URL}" and xpath="*"';
            //         function isExternal(url) {
            //             return !exRegex.test(url) && /:\/\//.test(url);
            //         }
            //         return function (o) {
            //             var url = o.url;
            //             if (/get/i.test(o.type) && !/json/i.test(o.dataType) && isExternal(url)) {
            //                 // Manipulate options so that JSONP-x request is made to YQL
            //                 o.url = YQL;
            //                 o.dataType = 'json';
            //                 o.data = {
            //                     q: query.replace(
            //                         '{URL}',
            //                         url + (o.data ?
            //                             (/\?/.test(url) ? '&' : '?') + jQuery.param(o.data)
            //                             : '')
            //                     ),
            //                     format: 'xml'
            //                 };
            //                 // Since it's a JSONP request
            //                 // complete === success
            //                 if (!o.success && o.complete) {
            //                     o.success = o.complete;
            //                     delete o.complete;
            //                 }
            //                 o.success = (function (_success) {
            //                     return function (data) {
            //                         if (_success) {
            //                             // Fake XHR callback.
            //                             _success.call(this, {
            //                                 responseText: data.results[0]
            //                                     // YQL screws with <script>s
            //                                     // Get rid of them
            //                                     .replace(/<script[^>]+?\/>|<script(.|\s)*?\/script>/gi, '')
            //                             }, 'success');
            //                         }
            //                     };
            //                 })(o.success);
            //             }
            //             return _ajax.apply(this, arguments);
            //         };
            //     })(jQuery.ajax);
            //     $.ajax({
            //         url: your_url,
            //         type: 'GET',
            //         success: function (res) {
            //             var text = res.responseText;
            //             // then you can manipulate your text as you wish
            //             alert(text);
            //         }
            //     });
            // };
        </script>




        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS, FontAwesome -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
            crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
            crossorigin="anonymous">



    </div>
</body>

</html>