<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
    <title>Harkup TTS</title>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/assets/js/app.js"></script>
    <script src="http://code.responsivevoice.org/responsivevoice.js"></script>

    <script src="https://www.gstatic.com/firebasejs/4.11.0/firebase.js"></script>
</head>

<body>

    {{{ body }}}

</body>

</html>